<h1><%= details.strDrink %></h1>
<div class="container">
    <h3><%= details.strIngredient1 %></h3>
    <p><%= details.strMeasure1 %></p>
    <h3><%= details.strIngredient2 %></h3>
    <p><%= details.strMeasure2 %></p>
    <h3><%= details.strIngredient3 %></h3>
    <p><%= details.strMeasure3 %></p>
    <h3><%= details.strIngredient4 %></h3>
    <p><%= details.strMeasure4 %></p>
    <h3><%= details.strIngredient5 %></h3>
    <p><%= details.strMeasure5 %></p>
    <h3><%= details.strIngredient6 %></h3>
    <p><%= details.strMeasure6 %></p>
    <h3><%= details.strIngredient7 %></h3>
    <p><%= details.strMeasure7 %></p>
    <h3><%= details.strIngredient8 %></h3>
    <p><%= details.strMeasure8 %></p>
    <h3><%= details.strIngredient9 %></h3>
    <p><%= details.strMeasure9 %></p>
    <h3><%= details.strIngredient10 %></h3>
    <p><%= details.strMeasure10 %></p>
    <h3><%= details.strIngredient11 %></h3>
    <p><%= details.strMeasure11 %></p>
    <h3><%= details.strIngredient12 %></h3>
    <p><%= details.strMeasure12 %></p>
    <h3><%= details.strIngredient13 %></h3>
    <p><%= details.strMeasure13 %></p>
    <h3><%= details.strIngredient14 %></h3>
    <p><%= details.strMeasure14 %></p>
    <h3><%= details.strIngredient15 %></h3>
    <p><%= details.strMeasure15 %></p>
</div>
<div>
    <p><%= details.strInstructions %></p>
</div>
<div class='container'>
    <img src='<%= details.strDrinkThumb %>' alt="Image of <%= details.strDrink %>" >
</div>